@CHARSET "UTF-8";
th,td{text-align: center;height:33px;}
th{background-color: #D4F4FA}
.subject{font-size:15px; font-weight:bold }
div.big_tb, div.mid_tb, div.sml_tb{float:left; border:1px solid #efefef; width:350px; height:400px;padding:5px 3px; margin-bottom:70px; overflow:auto}
.btn_div{position:absolute;top:450px;padding:10px 0; margin:0 55px}
.big_list_tb , .mid_list_tb , .sml_list_tb {border:1px solid #efefef; width:100%; }
.detail{padding:50px 0; margin:20px 0}
.detail_tb {border:1px solid #efefef; width:100%; }